@model TesteBludata.Pessoa

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_cad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_cad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_nasc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_nasc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Pessoas", "Index")
</p>
