@model IEnumerable<TesteBludata.Pessoa>

@{
    ViewBag.Title = "Pessoas";
}

<h2>Pessoas</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_cad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_nasc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_cad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_nasc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rg)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
